@import "bootstrap";

//This block needs to go before bootstrap-responsive

body {
  @media (min-width: 769px) {
    padding-top: 60px;
    background: image-url("baker_server/wood_1.png");
  }
}

@import "bootstrap-responsive";
@import "jquery.tablesorter";

.navbar-inner {
  @media (min-width: 769px) {
    background: image-url("baker_server/black_linen_v2.png");
  }
}

#wrapper {
  @media (min-width: 769px) {
    background: white;
    border: 1px solid #EEE;
    min-height: 500px;
    padding: 20px;
    //TODO Use compass and support for all browsers
    border-radius: 8px;
  }
}