.well
  %h1 Dashboard

.alert.alert-info
  %i.icon-info-sign
  All Products: #{link_to products_url(products: true, format: 'json'), products_url(products: true, format: 'json')}

.alert.alert-info
  %i.icon-info-sign
  All Subscriptions: #{link_to products_url(subscriptions: true, format: 'json'), products_url(subscriptions: true, format: 'json')}
