.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Baker Server", root_path, class: 'brand'
      .nav-collapse
        = render_navigation(level: 1)
